{
    "programs": [{
            "name": "camera",
            "vs_shader": "camera_vs.shd",
            "fs_shader": "camera_fs.shd",
            "varying": "camera_varying.shd"
        },
        {
            "name": "beauty",
            "vs_shader": "beauty_vs.shd",
            "fs_shader": "beauty_fs.shd",
            "varying": "camera_varying.shd",
            "defines": [{
                "name": "DUAR_BEAUTY_HIGH",
                "options": [
                    "DUAR_DISABLED",
                    "DUAR_ENABLED"
                ]
            }]
        },
        {
        "name": "imgui",
            "vs_shader": "imgui_vs.shd",
            "fs_shader": "imgui_fs.shd",
            "varying": "imgui_varying.shd"
        }
    ],
    "uniforms": [{
        "name": "u_projmtx",
        "type": "mat4"
        }
    ],
    "samplers": [
        {
            "name": "s_texfont",
            "register": "0"
        },
        {
            "name": "s_baseColor",
            "register": "0"
        },
        {
            "name": "s_occlusion",
            "register": "1"
        },
        {
            "name": "s_emissive",
            "register": "2"
        },
        {
            "name": "s_normalMap",
            "register": "3"
        },
        {
            "name": "s_metallicRoughness",
            "register": "4"
        },
        {
            "name": "s_cubeRadiance",
            "register": "5"
        },
        {
            "name": "s_cubeIrradiance",
            "register": "6"
        },
        {
            "name": "s_dfgLut",
            "register": "7"
        },
        {
            "name": "s_cameraImageY",
            "register": "0"
        },
        {
            "name": "s_cameraImageCbCr",
            "register": "1"
        },
        {
            "name": "s_lookupTable1",
            "register": "1"
        },
        {
            "name": "s_lookupTable2",
            "register": "2"
        }
    ],
    "define_options": [{
            "name": "DUAR_DISABLED",
            "value": "0"
        },
        {
            "name": "DUAR_ENABLED",
            "value": "1"
        }

    ]
}
